<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This is a demo Web Api test site.</p>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Codes</h2>
        <p>The source codes are stored in public Github repository</p>
        <p><a class="btn btn-default" href="https://github.com/pluo2000/Customer.API">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DevOps</h2>
        <p>Azure DevOps CI/CD practices have been used in this development.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Documentations</h2>
        <p>You can find the documentation in Github repoistory.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Click here &raquo;</a></p>
    </div>
</div>
